{% extends 'layouts/default.html.twig' %}

{% block head_stylesheets %}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
  <a id="logo-link" href="{{ url('home') }}">{{ app_name }}</a>
  <noscript>Whooopsie! This website will only work if you have Javascript enabled. Sorry :(</noscript>
  <canvas id="canvas"></canvas>
{% endblock %}

{% block body_javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
