{% extends 'layouts/bootstrap4.html.twig' %}

{% block content %}
  <div class="container my-4 text-center">
    <h1>{{ app_name }}</h1>
    <div class="jumbotron">
      <p class="lead">
        Welcome to {{ app_name }}.
        {{ app_name }} is platform that will visualize your favorite races!
      </p>
      <hr class="my-4">
      <p class="text-muted">
        We are currently still in development so please be patient. Thank you!
      </p>
      <a href="{{ url('seasons') }}" class="btn btn-primary btn-lg">Go to Seasons</a>
    </div>
  </div>
{% endblock %}
